@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Itim", cursive;
}

.container {
    background-color: #8ab6d6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    margin-bottom: 1em;
}

input[type="text"] {
    border: none;
    outline: none;
    padding-bottom: 5px;
    font-size: 1em;
    color: #000;
    border-bottom: 1px solid #000;
    background-color: transparent;
}

input[type="text"]:focus {
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
}

.card {
    width: 250px;
    height: 300px;
    padding: 1em;
    background-color: #2978b5;
    border-radius: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card h1 {
    text-align: center;
    margin-bottom: 1em;
}

.card-body {
    text-align: center;
}

.card-body button {
    padding: 10px 5px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin-top: 0.5em;
    background-color: #8ab6d6;
    cursor: pointer;
    transition: all 0.5s;
}

.card-body button:hover {
    transform: scale(1.05);
}

.error {
    color: rgb(255, 96, 128);
}
